@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Dancing+Script:wght@400;700&display=swap');

body {
  font-family: 'Comic Neue', cursive;
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}